.block-1c {
	font-family: Roboto, sans-serif;
	color: rgba(73, 72, 87, 1);
	&__grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, auto); /* Две строки */
		gap: 40px;
	}

	&__grid-box {
		padding: 30px;
		border: 1px solid #cccccc;
		border-radius: 40px;
		background-color: #fff;

		&_1 {
			grid-column: 1 / 4; /* Левая половина */
			grid-row: 1 / 3; /* Занимает обе строки */
			height: auto;
		}

		&_2 {
			grid-column: 4 / 7; /* Правая половина */
			grid-row: 1 / 2; /* Только первая строка */
			height: auto;
		}

		&_3 {
			grid-column: 1 / 4; /* Левая половина */
			grid-row: 3 / 4; /* Новая строка под блоком 1 */
			height: auto;
		}

		&_4 {
			grid-column: 4 / 7; /* Правая половина */
			grid-row: 2 / 4; /* Занимает строки 2 и 3 */
			height: auto;
		}
	}
}
.c {
	// .1c__grid-box

	&__grid-box {
		// .1c__grid-box_1-title

		&_1-title {
			font-size: 25px;
			padding-bottom: 20px;
		}

		// .1c__grid-box_1-desc1

		&_1-desc1 {
			font-size: 20px;
		}

		// .1c__grid-box_1-list1

		&_1-list1 {
			font-size: 18px;
			padding-bottom: 20px;
		}

		// .1c__grid-box_1-subtitle1

		&_1-subtitle1 {
			font-size: 20px;
		}

		// .1c__grid-box_1-list1-item

		&_1-list1-item {
		}

		// .1c__grid-box_1-div

		&_1-div {
		}

		// .1c__grid-box_1-subtitle2

		&_1-subtitle2 {
			font-size: 20px;
		}

		// .1c__grid-box_1-desc2

		&_1-desc2 {
		}

		// .1c__grid-box_1-list2

		&_1-list2 {
		}

		// .1c__grid-box_1-list2-item

		&_1-list2-item {
			font-size: 18px;
		}

		// .1c__grid-box_2-title

		&_2-title {
			font-size: 25px;
			padding-bottom: 20px;
		}

		// .1c__grid-box_2-list1

		&_2-list1 {
		}

		// .1c__grid-box_2-list1-item

		&_2-list1-item {
			font-size: 18px;
			padding-bottom: 20px;
		}

		// .1c__grid-box_3-title

		&_3-title {
			font-size: 25px;
			padding-bottom: 20px;
		}

		// .1c__grid-box_3-desc1

		&_3-desc1 {
			font-size: 18px;
		}

		// .1c__grid-box_3-list1

		&_3-list1 {
		}

		// .1c__grid-box_3-list1-item

		&_3-list1-item {
			font-size: 18px;
		}

		// .1c__grid-box_4-title

		&_4-title {
			font-size: 25px;
			padding-bottom: 20px;
		}

		// .1c__grid-box_4-desc1

		&_4-desc1 {
		}

		// .1c__grid-box_4-desc2

		&_4-desc2 {
		}

		// .1c__grid-box_4-list1

		&_4-list1 {
			padding-bottom: 20px;
		}

		// .1c__grid-box_4-subtitle1

		&_4-subtitle1 {
			font-size: 20px;
		}

		// .1c__grid-box_4-list1-item

		&_4-list1-item {
			font-size: 18px;
		}

		// .1c__grid-box_4-list2

		&_4-list2 {
		}

		// .1c__grid-box_4-subtitle2

		&_4-subtitle2 {
			font-size: 20px;
		}

		// .1c__grid-box_4-list2-item

		&_4-list2-item {
			font-size: 18px;
		}
	}
}
