.pluses_title {
  text-align: center;
  color: #494857;
  font-size: 56px;
  margin-bottom: 40px;
}

.pluses_conatiner {
  display: flex;
  font-family: Roboto, sans-serif;
  padding-left: 6%;
  padding-right: 6%;
  gap: 20px;
  height: 500px;
}

.pluses_conatiner_left {
  width: 25%;
  position: relative;
  height: 100%;

  img {
    position: absolute;
    bottom: 0;
    right: 20px;
    height: 250px;
    width: auto;
  }
}

.pluses_conatiner_right {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 20px;
  height: 100%;
}

.pluses_conatiner_right_top,
.pluses_conatiner_right_bottom {
  display: flex;
  gap: 20px;
  height: 50%;
}

.pluses_conatiner_right_top__left,
.pluses_conatiner_left,
.pluses_conatiner_right_top__right,
.pluses_conatiner_right_bottom__left,
.pluses_conatiner_right_bottom__right {
  color: #494857;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fafafa;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 20px;

  span {
    font-size: 20px;
    font-weight: 600;
  }
}
