.pluses {
	padding: 60px 0;

	@media (max-width: 992px) {
		padding: 40px 0;
	}

	@media (max-width: 480px) {
		padding: 30px 0;
	}
}

.text {
	@media (max-width: 640px) {
		max-width: 75% !important;
		padding-bottom: 50px;
	}
}

.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 6%;

	@media (max-width: 1280px) {
		padding: 0 4%;
	}

	@media (max-width: 992px) {
		padding: 0 20px;
	}

	@media (max-width: 480px) {
		padding: 0 15px;
	}
}

.pluses_title {
	text-align: center;
	color: #494857;
	font-size: 56px;
	margin-bottom: 40px;
	font-weight: 700;
	line-height: 1.2;

	@media (max-width: 1280px) {
		font-size: 48px;
	}

	@media (max-width: 1024px) {
		font-size: 42px;
	}

	@media (max-width: 992px) {
		font-size: 36px;
		margin-bottom: 30px;
	}

	@media (max-width: 768px) {
		font-size: 32px;
		margin-bottom: 25px;
	}

	@media (max-width: 480px) {
		font-size: 28px;
		margin-bottom: 20px;
	}
}

.pluses_container {
	width: 100%;
	min-height: 600px;
	max-width: 1280px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(12, auto);
	gap: 20px;
	@media (max-width: 992px) {
		grid-template-columns: repeat(12, 1fr);
	}
	@media (max-width: 640px) {
		grid-template-rows: repeat(15, auto);
	}

	// @media (max-width: 768px) {
	// 	gap: 20px;
	// }
}

.pluses_container_1 {
	position: relative;
	padding: 30px;
	border: 1px solid #cccccc;
	border-radius: 20px;
	background-color: #fff;
	grid-column: 1 / 5;
	grid-row: 1 / 13;
	height: auto;
	@media (max-width: 992px) {
		grid-column: 1 / 13;
		grid-row: 1 / 5;
	}
	@media (max-width: 640px) {
		grid-column: 1 / 13;
		grid-row: 1 / 4;
	}

	span {
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.2;
		color: #494857;
		@media (max-width: 1440px) {
			font-size: 19px;
		}
		@media (max-width: 1200px) {
			font-size: 16px;
		}
		@media (max-width: 1024px) {
			font-size: 15px;
		}

		@media (max-width: 992px) {
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 25px;
			font-weight: 700;
			line-height: 100%;
			letter-spacing: 0px;
			text-align: left;
		}

		@media (max-width: 640px) {
			padding-left: 0;
			padding-top: 10px;
		}
		@media (max-width: 480px) {
			font-size: 17px;
		}

		@media (max-width: 360px) {
			font-size: 16px;
		}
	}
	p {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 18px;
		color: #494857;
		/* line-height: 22px; */
		line-height: 1.2;
		padding-top: 20px;
		@media (max-width: 1280px) {
			font-size: 15.5px;
		}

		@media (max-width: 992px) {
			padding-top: 25px;
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 18px;
			font-weight: 400;
			line-height: 100%;
		}

		@media (max-width: 768px) {
			font-size: 15px;
			line-height: 1.45;
		}
		@media (max-width: 640px) {
			text-align: left;
		}

		@media (max-width: 480px) {
			font-size: 14px;
			line-height: 1.4;
		}

		@media (max-width: 360px) {
			font-size: 13.5px;
			line-height: 1.35;
		}
		@media (max-width: 992px) {
			width: 80%;
		}
		@media (max-width: 640px) {
			width: 100%;
		}
	}
	// @media (max-width: 768px) {
	// 	grid-column: 1/7;
	// 	grid-row: 1/2;
	// }
}
.pluses_container_2 {
	padding: 30px;
	border: 1px solid #cccccc;
	border-radius: 20px;
	background-color: #fff;
	grid-column: 5/ 10; /* Левая половина */
	grid-row: 1/ 7; /* Занимает обе строки */
	height: auto;
	@media (max-width: 992px) {
		grid-column: 1 / 7;
		grid-row: 5 / 9;
	}
	@media (max-width: 640px) {
		grid-column: 1 / 13;
		grid-row: 4 / 7;
	}
	span {
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.2;
		color: #494857;
		@media (max-width: 1440px) {
			font-size: 19px;
		}
		@media (max-width: 1200px) {
			font-size: 16px;
		}
		@media (max-width: 1024px) {
			font-size: 15px;
		}

		@media (max-width: 992px) {
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 25px;
			font-weight: 700;
			line-height: 100%;
			letter-spacing: 0px;
			text-align: left;
		}

		@media (max-width: 640px) {
			padding-left: 0;
			padding-top: 10px;
		}
		@media (max-width: 480px) {
			font-size: 17px;
		}

		@media (max-width: 360px) {
			font-size: 16px;
		}
	}
	p {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 18px;
		color: #494857;
		/* line-height: 22px; */
		line-height: 1.2;
		padding-top: 20px;
		@media (max-width: 1280px) {
			font-size: 15.5px;
		}

		@media (max-width: 992px) {
			padding-top: 25px;
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 18px;
			font-weight: 400;
			line-height: 100%;
		}

		@media (max-width: 768px) {
			font-size: 15px;
			line-height: 1.45;
		}
		@media (max-width: 640px) {
			text-align: left;
		}

		@media (max-width: 480px) {
			font-size: 14px;
			line-height: 1.4;
		}

		@media (max-width: 360px) {
			font-size: 13.5px;
			line-height: 1.35;
		}
	}
}
.pluses_container_3 {
	padding: 30px;
	border: 1px solid #cccccc;
	border-radius: 20px;
	background-color: #fff;
	grid-column: 10/ 14; /* Левая половина */
	grid-row: 1/ 7; /* Занимает обе строки */
	height: auto;
	@media (max-width: 992px) {
		grid-column: 7 / 13;
		grid-row: 5 / 9;
	}
	@media (max-width: 640px) {
		grid-column: 1 / 13;
		grid-row: 7 / 10;
	}
	span {
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.2;
		color: #494857;
		@media (max-width: 1440px) {
			font-size: 19px;
		}
		@media (max-width: 1200px) {
			font-size: 16px;
		}
		@media (max-width: 1024px) {
			font-size: 15px;
		}

		@media (max-width: 992px) {
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 25px;
			font-weight: 700;
			line-height: 100%;
			letter-spacing: 0px;
			text-align: left;
		}

		@media (max-width: 640px) {
			padding-left: 0;
			padding-top: 10px;
		}
		@media (max-width: 480px) {
			font-size: 17px;
		}

		@media (max-width: 360px) {
			font-size: 16px;
		}
	}
	p {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 18px;
		color: #494857;
		/* line-height: 22px; */
		line-height: 1.2;
		padding-top: 20px;
		@media (max-width: 1280px) {
			font-size: 15.5px;
		}

		@media (max-width: 992px) {
			padding-top: 25px;
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 18px;
			font-weight: 400;
			line-height: 100%;
		}

		@media (max-width: 768px) {
			font-size: 15px;
			line-height: 1.45;
		}
		@media (max-width: 640px) {
			text-align: left;
		}

		@media (max-width: 480px) {
			font-size: 14px;
			line-height: 1.4;
		}

		@media (max-width: 360px) {
			font-size: 13.5px;
			line-height: 1.35;
		}
	}
}
.pluses_container_4 {
	padding: 30px;
	border: 1px solid #cccccc;
	border-radius: 20px;
	background-color: #fff;
	grid-column: 5/ 9; /* Левая половина */
	grid-row: 7/13; /* Занимает обе строки */
	height: auto;
	@media (max-width: 992px) {
		grid-column: 1 / 7;
		grid-row: 9/ 13;
	}
	@media (max-width: 640px) {
		grid-column: 1 / 13;
		grid-row: 10 / 13;
	}
	span {
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.2;
		color: #494857;
		@media (max-width: 1440px) {
			font-size: 19px;
		}
		@media (max-width: 1200px) {
			font-size: 16px;
		}
		@media (max-width: 1024px) {
			font-size: 15px;
		}

		@media (max-width: 992px) {
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 25px;
			font-weight: 700;
			line-height: 100%;
			letter-spacing: 0px;
			text-align: left;
		}

		@media (max-width: 640px) {
			padding-left: 0;
			padding-top: 10px;
		}
		@media (max-width: 480px) {
			font-size: 17px;
		}

		@media (max-width: 360px) {
			font-size: 16px;
		}
	}
	p {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 18px;
		color: #494857;
		/* line-height: 22px; */
		line-height: 1.2;
		padding-top: 20px;
		@media (max-width: 1280px) {
			font-size: 15.5px;
		}

		@media (max-width: 992px) {
			padding-top: 25px;
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 18px;
			font-weight: 400;
			line-height: 100%;
		}

		@media (max-width: 768px) {
			font-size: 15px;
			line-height: 1.45;
		}
		@media (max-width: 640px) {
			text-align: left;
		}

		@media (max-width: 480px) {
			font-size: 14px;
			line-height: 1.4;
		}

		@media (max-width: 360px) {
			font-size: 13.5px;
			line-height: 1.35;
		}
	}
}
.pluses_container_5 {
	padding: 30px;
	border: 1px solid #cccccc;
	border-radius: 20px;
	background-color: #fff;
	grid-column: 9/14; /* Левая половина */
	grid-row: 7/13; /* Занимает обе строки */
	height: auto;
	@media (max-width: 992px) {
		grid-column: 7 / 13;
		grid-row: 9/ 13;
	}
	@media (max-width: 640px) {
		grid-column: 1 / 13;
		grid-row: 13 / 16;
	}
	span {
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.2;
		color: #494857;
		@media (max-width: 1440px) {
			font-size: 19px;
		}
		@media (max-width: 1200px) {
			font-size: 16px;
		}
		@media (max-width: 1024px) {
			font-size: 15px;
		}

		@media (max-width: 992px) {
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 25px;
			font-weight: 700;
			line-height: 100%;
			letter-spacing: 0px;
			text-align: left;
		}

		@media (max-width: 640px) {
			padding-left: 0;
			padding-top: 10px;
		}
		@media (max-width: 480px) {
			font-size: 17px;
		}

		@media (max-width: 360px) {
			font-size: 16px;
		}
	}
	p {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 18px;
		color: #494857;
		/* line-height: 22px; */
		line-height: 1.2;
		padding-top: 20px;
		@media (max-width: 1280px) {
			font-size: 15.5px;
		}

		@media (max-width: 992px) {
			padding-top: 25px;
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 18px;
			font-weight: 400;
			line-height: 100%;
		}

		@media (max-width: 768px) {
			font-size: 15px;
			line-height: 1.45;
		}
		@media (max-width: 640px) {
			text-align: left;
		}

		@media (max-width: 480px) {
			font-size: 14px;
			line-height: 1.4;
		}

		@media (max-width: 360px) {
			font-size: 13.5px;
			line-height: 1.35;
		}
	}
}

.image {
	width: 60%;
	height: auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.5;
	@media (max-width: 1440px) {
		width: 55%;
	}
	@media (max-width: 992px) {
		width: 15%;
		left: 90%;
	}
	@media (max-width: 768px) {
		width: 20%;
		left: 85%;
	}
	@media (max-width: 576px) {
		width: 20%;
		left: 85%;
	}
	@media (max-width: 480px) {
		width: 25%;
		left: 80%;
	}
	@media (max-width: 360px) {
		width: 30%;
		left: 80%;
	}
}
