.contacts {
	min-height: 100vh;
	position: relative;
	padding-top: 90px;
	// Первыми идут самые широкие условия
	@media (max-width: 1280px) {
		padding-left: 10px;
	}

	// Затем уже конкретные комбинации для этого размера
	@media (width: 1280px) and (height: 800px) {
		margin-bottom: 100px;
	}

	// Дальше меньшие размеры
	@media (max-width: 1200px) {
		padding-top: 70px;
		margin: 0 10px;
	}

	// Конкретная комбинация для планшета
	@media (width: 1024px) and (height: 600px) {
		margin-bottom: 200px;
	}

	// Конкретные модели телефонов
	// @media (width: 375px) and (height: 667px) {
	// 	margin-bottom: 450px;
	// }

	// Самые маленькие устройства - в самом конце
	// @media (width: 320px) and (height: 568px) {
	// 	margin-bottom: 600px;
	// }
}
.contacts-container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}
.contacts-title {
	padding: 52px 0 45px;
	color: rgba(73, 72, 87, 1);
	font-size: 56px;
	font-weight: 700;
	line-height: 56px;
}
.contacts-info {
	// .contacts-info__box

	&__box {
	}

	// .contacts-info__box-title

	&__box-title {
		color: rgba(73, 72, 87, 1);
		font-family: Roboto;
		font-size: 25px;
		font-weight: 600;
		line-height: 25px;
		letter-spacing: 0px;
		text-align: left;
		padding-bottom: 12px;
	}

	// .contacts-info__box-title-phone

	&__box-title-phone {
		color: rgba(73, 72, 87, 1);
		font-family: Roboto;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0px;
		text-align: left;
	}

	// .contacts-info__box-title-email

	&__box-title-email {
		color: rgba(73, 72, 87, 1);
		font-family: Roboto;
		font-size: 18px;
		font-weight: 400;
		line-height: 18px;

		text-align: left;
		padding-bottom: 35px;
	}
	&__tooltip0 {
		background: url('/images/contacts/tooltip1.png') no-repeat;
		width: 243px;
		height: 146px;
		margin: 0 auto;
		display: none;
		@media (max-width: 640px) {
			display: block;
			padding-bottom: 550px;
		}

		img {
			display: block;
			margin: 10% auto 2%;
		}
		span {
			width: 100%;
			display: inline-block;
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			line-height: 19.2px;
			letter-spacing: 0px;
			text-align: center;
		}
	}
	&__tooltip1 {
		background: url('/images/contacts/tooltip1.png') no-repeat;
		width: 243px;
		height: 146px;
		position: absolute;
		bottom: 59%;
		right: 33%;
		display: none;

		@media (max-width: 768px) {
			display: block;
			left: 55%;
			bottom: 50%;
		}
		@media (max-width: 640px) {
			display: none;
		}
		// @media (max-width: 640px) {
		// 	left: 50%;
		// 	top: 75%;
		// 	transform: translate(-50%, -50%);
		// }
		// @media (width: 375px) and (height: 667px) {
		// 	left: 50%;
		// 	top: 95%;
		// 	transform: translate(-50%, -50%);
		// }
		// @media (width: 320px) and (height: 568px) {
		// 	top: 125%;
		// }
		img {
			display: block;
			margin: 10% auto 2%;
		}
		span {
			width: 100%;
			display: inline-block;
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			line-height: 19.2px;
			letter-spacing: 0px;
			text-align: center;
		}
	}
	&__tooltip2 {
		padding: 27px 26px 72px 41px;
		background: url('/images/contacts/tooltip2.png') no-repeat;
		width: 306px;
		height: 261px;
		position: absolute;
		z-index: 22;
		bottom: 41%;
		left: 39%;
		@media (max-width: 1600px) {
			left: 33%;
		}
		@media (max-width: 1200px) {
			left: 28%;
		}
		@media (max-width: 1198px) {
			display: none;
		}

		&-title {
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 18px;
			font-weight: 700;
			line-height: 21.6px;
			letter-spacing: 0px;
			text-align: left;
			padding-bottom: 10px;
		}
		&-desc {
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 18px;
			font-weight: 400;
			line-height: 21.6px;
		}
	}
}

.contacts-map {
	background: url('/images/contacts/map.png') center center/cover no-repeat;
	width: 78%;
	height: 100%;
	clip-path: polygon(36% 0, 100% 0, 100% 100%, 19% 100%);
	position: absolute;
	top: 80px;
	right: 0;
	overflow: visible;
	@media (max-width: 1200px) {
		top: 70px;
	}
	@media (max-width: 768px) {
		visibility: hidden;
	}

	// .contacts-map__img

	// .contacts-map__tooltip1

	&__tooltip1 {
		background: url('/images/contacts/tooltip1.png') no-repeat;
		width: 243px;
		height: 146px;
		position: absolute;
		bottom: 59%;
		right: 33%;
		@media (max-width: 1440px) {
			right: 30%;
		}
		@media (max-width: 1280px) {
			right: 25%;
		}
		@media (max-width: 1024px) {
			right: 20%;
		}
		@media (max-width: 768px) {
			right: 10%;
		}
		img {
			display: block;
			margin: 10% auto 2%;
		}
		span {
			width: 100%;
			display: inline-block;
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			line-height: 19.2px;
			letter-spacing: 0px;
			text-align: center;
		}
	}
}
