.support {
	.title {
		color: rgba(73, 72, 87, 1);
		font-size: 56px;
		font-weight: 500;
		line-height: 56px;
		letter-spacing: 0%;
		padding-bottom: 52 px;
		text-align: center;
	}
	.grid {
		padding: 52px 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr;
		gap: 20px;
		list-style: none;

		li {
			display: grid;
			grid-template-rows: subgrid;
			grid-row: span 1;
			&:last-child {
				grid-column: 1 / -1; // Занимает всю ширину
				display: flex;
				justify-content: center;
				.cart {
					width: calc(
						50% - 10px
					); // Ширина как у остальных карточек (50% минус половина gap)
				}
			}
		}
	}
	.cart {
		grid-row: span 1;
		width: 100%;
		min-height: 176px;
		padding: 25px;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		border: 1px solid rgba(213, 213, 213, 1);
		border-radius: 10px;
		background: rgba(255, 255, 255, 1);
		cursor: pointer;
		&:hover {
			box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.15),
				inset 0px 4px 0px 0px rgba(49, 137, 161, 1);
		}

		&_count {
			color: var(--layer-color2);
			font-size: 100px;
			font-weight: 700;
			line-height: 100%;
			border-right: 2px solid var(--accent-color1);
			padding-right: 20px;
		}

		&_text {
			padding: 0 25px;
			h2 {
				padding-bottom: 10px;
				color: rgba(73, 72, 87, 1);
				font-family: Roboto;
				font-size: 24px;
				font-weight: 700;
				line-height: 120%;
			}
			p {
				color: rgba(73, 72, 87, 1);
				font-family: Roboto;
				font-size: 18px;
				line-height: 21px;
				font-weight: 400;
			}
		}
	}
}
.support_container {
	margin-bottom: 0;
}
