.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	@media (max-width: 1280px) {
		grid-template-columns: repeat(1, 1fr);
	}

	&_cols_1 {
		h1 {
			color: rgba(73, 72, 87, 1);
			font-size: 56px;
			font-weight: 500;
			line-height: 56px;
			letter-spacing: 0%;
		}
		ul > li {
			list-style: none;
		}
	}

	&_cols_2 {
		padding-top: 70px;
		display: flex;
		justify-content: start;
		align-items: center;
		@media (max-width: 1280px) {
			display: none;
		}
	}
}

.rings {
	position: relative;
	width: 600px;
	height: 630px;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 1), rgba(204, 204, 204, 1);
	box-shadow: inset -4px 4px 5px 0px rgba(0, 0, 0, 0.45);
	background: rgba(204, 204, 204, 1);
	border-radius: 100%;
	transform: scaleY(1.02);
	&_1 {
		position: absolute;
		top: 80px;
		left: 50px;
		width: 500px;
		height: 530px;
		box-shadow: inset -4px 4px 5px 0px rgba(0, 0, 0, 0.45);
		background: rgba(229, 238, 242, 1);
		border-radius: 100%;
		transform: scaleY(1.02);
	}
	&_2 {
		position: absolute;
		top: 160px;
		left: 100px;
		width: 400px;
		height: 430px;
		box-shadow: inset -4px 4px 5px 0px rgba(0, 0, 0, 0.45);
		background: rgba(87, 136, 159, 1);
		border-radius: 100%;
		transform: scaleY(1.03);
	}
	&_3 {
		position: absolute;
		top: 240px;
		left: 150px;
		width: 300px;
		height: 330px;
		box-shadow: inset -4px 4px 5px 0px rgba(0, 0, 0, 0.45);
		background: rgba(245, 245, 245, 1);
		border-radius: 100%;
		transform: scaleY(1.02);
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.ring_info {
	padding-top: 45px;
	max-width: 560px;
	h2 {
		color: rgba(73, 72, 87, 1);
		font-family: Roboto;
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 10px;
	}
	p {
		color: rgba(73, 72, 87, 1);
		font-family: Roboto;
		font-size: 18px;
		font-weight: 400;
		line-height: 21px;
	}
}
