.protection_ring {
	padding: 80px 0;

	@media (max-width: 992px) {
		padding: 60px 0;
	}

	@media (max-width: 768px) {
		padding: 40px 0;
	}

	@media (max-width: 480px) {
		padding: 30px 0;
	}
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;

	// @media (max-width: 1200px) {
	// 	padding: 0 6%;
	// }

	// @media (max-width: 992px) {
	// 	padding: 0 20px;
	// }

	// @media (max-width: 480px) {
	// 	padding: 0 15px;
	// }
}

.mobile_title {
	display: none;
	color: rgba(73, 72, 87, 1);
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 30px;

	@media (max-width: 1024px) {
		font-size: 42px;
	}
	@media (max-width: 1080px) {
		display: block;
		font-size: 42px;
	}

	@media (max-width: 992px) {
		font-size: 36px;
		margin-bottom: 30px;
	}

	@media (max-width: 768px) {
		font-size: 32px;
		margin-bottom: 25px;
	}

	@media (max-width: 480px) {
		font-size: 28px;
		margin-bottom: 20px;
		text-align: left;
	}
}

.desktop_title {
	text-align: left;
	color: #494857;
	font-size: 56px;
	margin-bottom: 40px;
	font-weight: 700;
	line-height: 1.2;

	@media (max-width: 1280px) {
		font-size: 48px;
	}

	@media (max-width: 1080px) {
		display: none;
	}
	@media (max-width: 1024px) {
		font-size: 42px;
	}

	@media (max-width: 992px) {
		font-size: 36px;
		margin-bottom: 30px;
	}

	@media (max-width: 768px) {
		font-size: 32px;
		margin-bottom: 25px;
	}

	@media (max-width: 480px) {
		font-size: 28px;
		margin-bottom: 20px;
		text-align: left;
	}
	// color: rgba(73, 72, 87, 1);
	// font-size: 48px;
	// font-weight: 700;
	// line-height: 1;
	// letter-spacing: 0%;
	// margin-bottom: 40px;

	// @media (max-width: 1600px) {
	// 	font-size: 48px;
	// }

	// @media (max-width: 1440px) {
	// 	font-size: 42px;
	// }

	// @media (max-width: 1080px) {
	// 	display: none;
	// }
}

.grid {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
	align-items: start;

	@media (max-width: 992px) {
		grid-template-columns: 1fr;
		// gap: 40px;
	}

	// @media (max-width: 768px) {
	// 	gap: 30px;
	// 	grid-template-columns: 1fr;
	// }
}

.grid_cols_1 {
	.ring_list {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}

.grid_cols_2 {
	display: flex;
	justify-content: center;
	align-items: center;
	// padding-top: 40px;

	@media (max-width: 1280px) {
		padding-top: 0;
	}
	@media (max-width: 992px) {
		position: absolute;
		right: 50px;
		top: 65%;
		transform: translateY(-50%);
	}
	@media (max-width: 925px) {
		position: absolute;
		right: 0;
	}
	@media (max-width: 800px) {
		right: -10px;
	}
	@media (max-width: 640px) {
		display: none;
	}
}

.ring_list {
	li {
		&:nth-child(2) .ring_info p,
		&:nth-child(3) .ring_info p {
			@media (max-width: 992px) {
				width: 55%;
			}
			@media (max-width: 640px) {
				width: 100%;
			}
		}
	}
}

.ring_info {
	padding-top: 45px;
	max-width: 560px;

	&:first-child {
		padding-top: 0;
	}

	@media (max-width: 1280px) {
		max-width: 100%;
		padding-top: 30px;
	}

	@media (max-width: 768px) {
		padding-top: 25px;
	}

	@media (max-width: 480px) {
		padding-top: 20px;
	}

	h2 {
		color: rgba(73, 72, 87, 1);
		font-family: Roboto, sans-serif;
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 10px;
		margin: 0;

		@media (max-width: 1200px) {
			font-size: 23px;
		}
		@media (max-width: 1120px) {
			font-size: 20px;
		}
		@media (max-width: 1200px) {
			font-size: 23px;
		}

		@media (max-width: 1120px) {
			font-size: 20px;
		}

		@media (max-width: 992px) {
			font-size: 23px;
		}

		@media (max-width: 640px) {
			padding-left: 0;
			padding-top: 10px;
		}
		@media (max-width: 480px) {
			font-size: 17px;
		}

		@media (max-width: 360px) {
			font-size: 16px;
		}
	}

	p {
		color: rgba(73, 72, 87, 1);
		font-family: Roboto, sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.2;
		margin: 0;

		@media (max-width: 1280px) {
			font-size: 16px;
		}
		@media (max-width: 1200px) {
			font-size: 15.5px;
		}

		@media (max-width: 992px) {
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 18px;
			font-weight: 400;
			text-align: justify;
		}

		@media (max-width: 768px) {
			font-size: 15px;
		}
		@media (max-width: 640px) {
		}

		@media (max-width: 480px) {
			font-size: 14px;
		}

		@media (max-width: 360px) {
			font-size: 13.5px;
		}
	}
}

.rings {
	position: relative;
	width: 600px;
	height: 630px;
	box-sizing: border-box;
	// border: 1px solid rgba(0, 0, 0, 1);
	box-shadow: inset -4px 4px 5px 0px rgba(0, 0, 0, 0.45);
	background: rgba(204, 204, 204, 1);
	border-radius: 50%;
	transform: scaleY(1.02);

	@media (max-width: 1600px) {
		width: 500px;
		height: 525px;
	}

	// @media (max-width: 992px) {
	// 	width: 450px;
	// 	height: 473px;
	// }

	// @media (max-width: 1280px) {
	// 	width: 280px;
	// 	height: 300px;
	// 	margin-top: 100px;
	// }

	@media (max-width: 1080px) {
		width: 350px;
		height: 368px;
	}

	@media (max-width: 768px) {
		width: 300px;
		height: 315px;
	}

	@media (max-width: 360px) {
		width: 260px;
		height: 273px;
	}
}

.rings_1 {
	position: absolute;
	top: 80px;
	left: 50px;
	width: 500px;
	height: 530px;
	box-shadow: inset -4px 4px 5px 0px rgba(0, 0, 0, 0.45);
	background: rgba(229, 238, 242, 1);
	border-radius: 50%;
	transform: scaleY(1.02);

	@media (max-width: 1600px) {
		top: 65px;
		left: 40px;
		width: 415px;
		height: 435px;
	}

	// @media (max-width: 992px) {
	// 	top: 58px;
	// 	left: 36px;
	// 	width: 373px;
	// 	height: 392px;
	// }

	// @media (max-width: 1280px) {
	// 	top: 45px;
	// 	left: 30px;
	// 	width: 220px;
	// 	height: 235px;
	// }

	@media (max-width: 1080px) {
		top: 45px;
		left: 28px;
		width: 290px;
		height: 305px;
	}

	@media (max-width: 768px) {
		top: 38px;
		left: 24px;
		width: 249px;
		height: 261px;
	}

	@media (max-width: 360px) {
		top: 33px;
		left: 21px;
		width: 216px;
		height: 227px;
	}
}

.rings_2 {
	position: absolute;
	top: 160px;
	left: 100px;
	width: 400px;
	height: 430px;
	box-shadow: inset -4px 4px 5px 0px rgba(0, 0, 0, 0.45);
	background: var(--layer-color2);
	border-radius: 50%;
	transform: scaleY(1.03);

	@media (max-width: 1600px) {
		top: 133px;
		left: 83px;
		width: 332px;
		height: 357px;
	}

	// @media (max-width: 992px) {
	// 	top: 119px;
	// 	left: 75px;
	// 	width: 299px;
	// 	height: 321px;
	// }

	// @media (max-width: 1280px) {
	// 	top: 80px;
	// 	left: 53px;
	// 	width: 175px;
	// 	height: 185px;
	// }

	@media (max-width: 1080px) {
		top: 92px;
		left: 58px;
		width: 232px;
		height: 249px;
	}

	@media (max-width: 768px) {
		top: 79px;
		left: 50px;
		width: 199px;
		height: 214px;
	}

	@media (max-width: 360px) {
		top: 69px;
		left: 43px;
		width: 173px;
		height: 186px;
	}
}

.rings_3 {
	position: absolute;
	top: 240px;
	left: 150px;
	width: 300px;
	height: 330px;
	box-shadow: inset -4px 4px 5px 0px rgba(0, 0, 0, 0.45);
	background: rgba(245, 245, 245, 1);
	border-radius: 50%;
	transform: scaleY(1.02);
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 1600px) {
		top: 200px;
		left: 125px;
		width: 250px;
		height: 275px;
	}

	// @media (max-width: 992px) {
	// 	top: 180px;
	// 	left: 113px;
	// 	width: 225px;
	// 	height: 248px;
	// }

	// @media (max-width: 1280px) {
	// 	top: 100px;
	// 	left: 70px;
	// 	width: 140px;
	// 	height: 150px;
	// }

	@media (max-width: 1080px) {
		top: 140px;
		left: 87px;
		width: 175px;
		height: 193px;
	}

	@media (max-width: 768px) {
		top: 120px;
		left: 75px;
		width: 150px;
		height: 165px;
	}

	@media (max-width: 360px) {
		top: 104px;
		left: 65px;
		width: 130px;
		height: 143px;
	}
}

.ring_image {
	width: 40%;
	height: auto;
	max-width: 120px;

	@media (max-width: 1600px) {
		width: 35%;
	}

	@media (max-width: 768px) {
		width: 30%;
		max-width: 90px;
	}

	@media (max-width: 360px) {
		width: 28%;
		max-width: 80px;
	}
}

// Медиа-запросы для мобильных устройств
// @media (max-width: 768px) {
// 	.protection_ring {
// 		.ring_info {
// 			h2 {
// 				font-size: 18px;
// 			}

// 			p {
// 				font-size: 15px;
// 			}
// 		}

// 		// .rings {
// 		// 	width: 320px;
// 		// 	height: 336px;
// 		// }
// 	}
// }

// @media (max-width: 480px) {
// 	.protection_ring {
// 		.mobile_title {
// 			font-size: 22px;
// 		}

// 		.ring_info {
// 			h2 {
// 				font-size: 17px;
// 			}

// 			p {
// 				font-size: 14px;
// 			}
// 		}

// 		.rings {
// 			width: 280px;
// 			height: 294px;
// 		}
// 	}
// }

// @media (max-width: 360px) {
// 	.protection_ring {
// 		.mobile_title {
// 			font-size: 20px;
// 		}

// 		.ring_info {
// 			h2 {
// 				font-size: 16px;
// 			}

// 			p {
// 				font-size: 13.5px;
// 			}
// 		}

// 		.rings {
// 			width: 240px;
// 			height: 252px;
// 		}
// 	}
// }
