.contact {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
.contact-container {
	// .contact-container__left

	&__left {
	}

	// .contact-container__right

	&__right {
		img {
			width: 90%;
			height: 100%;
			object-fit: cover;
		}
	}
}
