.services {
	background-color: var(--layer-color2);

	.title {
		color: #ffffff;
		font-size: 56px;
		font-weight: 500;
		line-height: 56px;
		letter-spacing: 0%;
		padding-top: 52px;
	}
	.grid {
		padding: 52px 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		gap: 20px;
		list-style: none;
	}
	.cart {
		cursor: pointer;
		&:hover {
			transform: scale(1.02);
		}
		&_img {
			height: 154px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&_desc {
			height: 35px;
			background-color: var(--layer-color1);
			border-bottom-right-radius: 100px;
			display: flex;
			align-items: center;
			p {
				padding-left: 20px;
				color: rgba(73, 72, 87, 1);
				font-family: Roboto;
				font-size: 18px;
				font-weight: 400;
				line-height: 21.6px;
			}
		}
	}
}
.services_container {
	margin-bottom: 0;
}
