.service {
	padding-top: 90px;
	padding-left: 10px;
	padding-right: 10px;
	@media (max-width: 1200px) {
		padding-top: 70px;
		margin: 0 10px;
	}
}
.service-container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}
.service-title {
	padding: 52px 0 40px;
	color: rgba(73, 72, 87, 1);
	font-size: 56px;
	font-weight: 700;
	line-height: 56px;
	@media (max-width: 1200px) {
		font-size: 48px;
		padding: 52px 0 25px;
	}

	@media (max-width: 1024px) {
		font-size: 42px;
		padding: 40px 0 10px;
	}

	@media (max-width: 400px) {
		padding: 20px 0 10px;
		font-size: 33px;
	}
}
.service-body {
}
