.service {
	padding-top: 90px;
	padding-left: 10px;
	padding-right: 10px;
	@media (max-width: 1200px) {
		padding-top: 70px;
		margin: 0 10px;
	}
}
.service-container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}
.service-title {
	padding: 52px 0;
	color: rgba(73, 72, 87, 1);
	font-size: 56px;
	font-weight: 700;
	line-height: 56px;
	// @media (max-width: 1280px) {
	// 	padding-left: 5%;
	// }
	@media (max-width: 1280px) {
		font-size: 48px;
	}

	@media (max-width: 1024px) {
		font-size: 42px;
	}

	@media (max-width: 992px) {
		font-size: 36px;
		padding-bottom: 30px;
	}

	@media (max-width: 768px) {
		font-size: 32px;
		padding-bottom: 25px;
	}

	@media (max-width: 480px) {
		font-size: 28px;
		padding-bottom: 20px;
	}
}
.service-body {
}
