.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	gap: 35px;
	list-style: none;

	@media (max-width: 1280px) {
		gap: 20px;
		width: 100%;
		max-width: 992px;
		margin: 0 auto;
		grid-template-columns: repeat(2, 1fr);
		li:last-child:nth-child(odd) {
			grid-column: 1 / -1;
			display: flex;
			justify-content: center;
			width: 100%;
		}
	}

	@media (max-width: 800px) {
		grid-template-columns: repeat(1, 1fr);
		li:last-child:nth-child(odd) {
			grid-column: auto;
			display: block;
			width: auto;
		}
	}
}

.cart {
	cursor: pointer;
	height: 190px;
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(73, 72, 87, 0.5);
	border-top-left-radius: 60px;
	border-bottom-right-radius: 60px;
	overflow: hidden;

	&:hover {
		transform: scale(1.02);
	}

	&_img {
		flex: 1;
		border-top-left-radius: 30px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right;
		}
	}

	&_desc {
		min-height: 30px;
		background-color: var(--layer-color2);
		border-bottom-right-radius: 100px;
		display: flex;
		align-items: center;
		padding: 7px 30px;

		// @media (max-width: 992px) {
		// 	border-bottom-right-radius: 10px;
		// 	border-bottom-left-radius: 10px;
		// }

		p {
			color: #ffffff;
			font-family: Roboto;
			font-size: 18px;
			font-weight: 400;
			line-height: 21.6px;
			letter-spacing: 0px;
			text-align: left;
		}
	}
}

@media (max-width: 576px) {
	.cart {
		&_desc {
			p {
				font-size: 16px;
				line-height: 1.3;
			}
		}
	}
}
