.grid {
	padding: 52px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	gap: 20px;
	list-style: none;

	@media (max-width: 1280px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 640px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.cart {
	cursor: pointer;
	height: 100%;
	display: flex;
	flex-direction: column;

	&:hover {
		transform: scale(1.02);
	}

	&_img {
		height: 250px;
		flex: 1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
	}

	&_desc {
		min-height: 50px;
		background-color: var(--layer-color1);
		border-bottom-right-radius: 100px;
		display: flex;
		align-items: center;
		padding: 10px 0;

		@media (max-width: 992px) {
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}

		p {
			padding-left: 20px;
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 18px;
			font-weight: 400;
			line-height: 1.4;
			margin: 0;
		}
	}
}

@media (max-width: 576px) {
	.cart {
		&_desc {
			p {
				font-size: 16px;
				line-height: 1.3;
			}
		}
	}
}
