.underhero_container {
	display: flex;
	padding-top: 50px;

	@media (max-width: 1024) {
		flex-direction: column;
	}

	// @media (max-width: 1450px) {

	// }
}

.underhero_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 10px;

	span,
	p {
		font-family: Roboto, sans-serif;
		color: #494857;
	}

	span {
		font-size: 24px;
	}

	p {
		font-size: 16px;
		max-width: 70%;
	}
	@media (max-width: 1024) {
		padding-bottom: 20px;
	}
}
