.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 15%;
  align-items: center;
  background-color: #fafafa;
}

.nav_container {
  display: flex;
  gap: 30px;

  .nav_link {
    font-size: 24px;
    color: #494857;
    line-height: 36px;
  }
}

.socials_container {
  display: flex;
  align-items: center;
  gap: 30px;

  .phone_link {
    color: #58899f;
    font-size: 36px;
  }
}

.socials_links {
  display: flex;
  gap: 5px;
}
