.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 15%;
  align-items: center;
  background-color: #fafafa;
  z-index: 100;
  position: relative;
  box-shadow: 0 0px 15px #cccccc;

  @media (max-width: 1750px) {
    padding: 20px 10%;
  }

  @media (max-width: 1350px) {
    padding: 20px 5%;
  }

  @media (max-width: 1150px) {
    padding: 20px 2%;
  }
}

.nav_container {
  display: flex;
  gap: 30px;

  .nav_link {
    font-size: 36px;
    color: #494857;
    line-height: 36px;

    @media (max-width: 1500px) {
      font-size: 30px;
    }

    @media (max-width: 1150px) {
      display: none;
    }
  }
}

.socials_container {
  display: flex;
  align-items: center;
  gap: 30px;

  @media (max-width: 1150px) {
    display: none;
  }

  .phone_link {
    color: #58899f;
    font-size: 48px;

    @media (max-width: 1500px) {
      font-size: 40px;
    }
  }
}

.socials_links {
  display: flex;
  gap: 5px;
}
