// Основные стили
.start {
	padding: 50px 0;

	@media (max-width: 992px) {
		padding: 40px 0;
	}

	@media (max-width: 480px) {
		padding: 30px 0;
	}
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;

	@media (max-width: 1280px) {
		padding: 0 4%;
	}

	@media (max-width: 992px) {
		padding: 0 20px;
	}

	@media (max-width: 480px) {
		padding: 0 15px;
	}
}

.start_title {
	text-align: center;
	color: #494857;
	font-size: 56px;
	margin-bottom: 40px;
	font-weight: 700;
	line-height: 1.2;

	@media (max-width: 1280px) {
		font-size: 48px;
	}

	@media (max-width: 1024px) {
		font-size: 42px;
	}

	@media (max-width: 992px) {
		font-size: 36px;
		margin-bottom: 30px;
	}

	@media (max-width: 768px) {
		font-size: 32px;
		margin-bottom: 25px;
	}

	@media (max-width: 480px) {
		font-size: 28px;
		margin-bottom: 20px;
	}
}

// Контейнер для элементов
.start_container {
	display: flex;
	gap: 100px;
	position: relative;

	@media (max-width: 1440px) {
		gap: 60px;
	}
	@media (max-width: 1280px) {
		gap: 50px;
	}
	@media (max-width: 992px) {
		padding: 40px 0;
		flex-direction: column;
		gap: 45px;
	}
}

// Обертка для создания контекста стека
.start_item_wrapper {
	position: relative;
	flex: 1;
	isolation: isolate;
}

// Карточка элемента
.start_item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 15px 20px 20px;
	align-items: center;
	text-align: center;
	background-color: #fafafa;
	border: 8px solid #cccccc;
	font-family: Roboto, sans-serif;
	justify-content: space-around;
	height: 100%;
	transition: transform 0.3s ease, box-shadow 0.3s ease;

	// Стрелки-соединители
	&::before,
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 25%;
		width: 65px;
		height: 90px;
		background-color: #cccccc;
	}

	// Левая стрелка
	&::before {
		left: -65px;
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 45% 50%);

		@media (max-width: 1440px) {
			left: -45px;
		}
		@media (max-width: 1280px) {
			left: -40px;
		}
		@media (max-width: 992px) {
			top: -55px;
			left: 50%;
			transform: translateX(-50%) rotate(90deg);
		}
	}

	// Правая стрелка
	&::after {
		right: -65px;
		clip-path: polygon(0% 0%, 55% 0%, 100% 50%, 55% 100%, 0% 100%);
		@media (max-width: 1440px) {
			right: -45px;
		}
		@media (max-width: 992px) {
			top: 83%;
			left: 50%;
			transform: translateX(-50%) rotate(90deg);
		}
		@media (max-width: 640px) {
			top: 80%;
		}
	}

	@media (max-width: 992px) {
		padding: 0 30px;
		min-height: 250px;
	}

	@media (max-width: 640px) {
		padding: 10px;
		min-height: 200px;
	}
}

// Контент внутри карточки
.item_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 100%;

	@media (max-width: 992px) {
		flex-direction: row-reverse;
		align-items: start;
		text-align: left;
		gap: 30px;
	}

	@media (max-width: 640px) {
		flex-direction: column;
		text-align: center;
		gap: 20px;
	}
}

.image_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;

	@media (max-width: 992px) {
		margin-top: 0;
		flex-shrink: 0;
	}
}

// Общие стили текста
.item_title {
	padding-bottom: 25px;
	font-size: 25px;
	font-weight: 600;
	color: #494857;
	display: block;

	@media (max-width: 1200px) {
		font-size: 23px;
	}
	@media (max-width: 1120px) {
		font-size: 20px;
	}
	@media (max-width: 1200px) {
		font-size: 23px;
	}

	@media (max-width: 1120px) {
		font-size: 20px;
	}

	@media (max-width: 992px) {
		font-size: 23px;
	}

	@media (max-width: 640px) {
		padding-left: 0;
		padding-top: 10px;
	}
	@media (max-width: 480px) {
		font-size: 17px;
	}

	@media (max-width: 360px) {
		font-size: 16px;
	}
}

.item_description {
	font-size: 18px;
	font-weight: 400;
	color: #494857;
	line-height: 1.2;
	margin: 0;

	@media (max-width: 1280px) {
		font-size: 16px;
	}
	@media (max-width: 1200px) {
		font-size: 15.5px;
	}

	@media (max-width: 992px) {
		color: rgba(73, 72, 87, 1);
		font-family: Roboto;
		font-size: 18px;
		font-weight: 400;
	}

	@media (max-width: 768px) {
		font-size: 16px;
		line-height: 1.45;
	}
	@media (max-width: 640px) {
		text-align: left;
	}

	@media (max-width: 480px) {
		font-size: 14px;
		text-align: center;
	}

	@media (max-width: 360px) {
		font-size: 13.5px;
	}
}

// Стили для картинки
.item_image {
	width: 100%;
	height: auto;
	max-width: 200px;

	@media (max-width: 992px) {
		width: 150px;
		height: auto;
	}
	@media (max-width: 640px) {
		width: 50;
		height: auto;
		position: absolute;
		top: 15px;
		left: 10px;
	}
	@media (max-width: 480px) {
		width: 35px;
		height: auto;
	}
}
