// Основные переменные
$hexagon-side: 220px;
$hexagon-width: calc(#{$hexagon-side} * 1.732); // width = side * √3
$hexagon-height: calc(#{$hexagon-side} * 2);
$hexagon-margin: 30px;

// Контейнер для одного шестиугольника
.hexagon-container {
	position: relative;
	width: $hexagon-width;
	height: $hexagon-height;
	margin: 0 auto $hexagon-margin;
}

// Шестиугольник
.hexagon {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff; // серый фон
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

// Верхний синий треугольник
.hexagon-top-triangle {
	position: absolute;
	top: 3px;
	left: 0;
	width: 100%;
	height: 33.33%;
	clip-path: polygon(50% 8%, 4% 75%, 96% 75%);
	background-color: var(--layer-color2); // синий фон
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.hexagon-bottom-triangle {
	position: absolute;
	top: 73.9%;
	left: 0;
	width: 100%;
	height: 25%;
	clip-path: polygon(4% 0%, 96% 0%, 50% 94%);
	background-color: var(--layer-color1); // синий фон
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

// Цифра в треугольнике
.triangle-number {
	color: rgba(245, 245, 245, 1);
	font-family: Roboto;
	font-size: 72px;
	font-weight: 700;
	line-height: 72px;
	letter-spacing: 0%;
	text-align: left;
	margin-top: -15px; // центрирование цифры в треугольнике
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

// Контент шестиугольника
.hexagon-rectangle {
	position: absolute;
	top: 26%; // начинаем после треугольника
	left: 0;
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
	clip-path: polygon(
		4% 4%,
		// верхний левый угол
		96% 4%,
		// верхний правый угол
		96% 96%,
		// // нижний правый угол
		// 45% 100%,
		// // "нос" вниз (выступает на 25% ниже)
		4% 96% // нижний левый угол
	);
	background-color: var(--layer-color1); // синий фон
}

// Заголовок
.hexagon-title {
	color: rgba(73, 72, 87, 1);
	font-family: Roboto;
	font-size: 25px;
	font-weight: 600;
	line-height: 26px;
	padding-bottom: 10px;
}

// Описание с шестью строками
.hexagon-description {
	width: 100%;
	text-align: center;
	max-height: 180px;
	overflow: hidden;
	color: rgba(73, 72, 87, 1);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
}
