.benefit {
	padding: 50px 0;

	@media (max-width: 992px) {
		padding: 60px 0;
	}

	@media (max-width: 768px) {
		padding: 40px 0;
	}

	@media (max-width: 480px) {
		padding: 30px 0;
	}
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	@media (max-width: 992px) {
		padding: 0 20px;
	}
}

.title {
	color: rgba(73, 72, 87, 1);
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0%;
	text-align: center;
	margin-bottom: 40px;

	@media (max-width: 1280px) {
		font-size: 48px;
	}

	@media (max-width: 1024px) {
		font-size: 42px;
	}

	@media (max-width: 992px) {
		font-size: 36px;
		margin-bottom: 30px;
	}

	@media (max-width: 768px) {
		font-size: 32px;
		margin-bottom: 25px;
	}

	@media (max-width: 480px) {
		font-size: 28px;
		margin-bottom: 20px;
		text-align: left;
		line-height: 1;
	}
}
.title_br {
	display: none;
	@media (max-width: 480px) {
		display: block;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	gap: 30px;
	list-style: none;
	padding: 0;
	margin: 0;

	@media (max-width: 1280px) {
		gap: 20px;
	}
	@media (max-width: 992px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
.grid_box {
}
.grid_item {
	width: 100%;
}

.cart {
	position: relative;
	display: flex;
	align-items: flex-start;
	gap: 20px;
	border-radius: 12px;
	padding: 20px 20px 20px 0;
	transition: transform 0.3s ease, box-shadow 0.3s ease;

	@media (max-width: 1280px) {
		gap: 10px;
	}

	@media (max-width: 992px) {
		padding: 22px 22px 22px 0;
		gap: 22px;
		background-color: white;
	}
	@media (max-width: 640px) {
		padding: 22px 20px;
	}
}

.cart_img {
	min-width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 576px) {
		justify-content: start;
		position: absolute;
		top: 5px;
		left: 15px;
	}
}

.image {
	width: 200px;
	height: 200px;
	object-fit: contain;

	@media (max-width: 1280px) {
		width: 150px;
		height: 150px;
	}

	@media (max-width: 576px) {
		width: 50px;
		height: 50px;
	}
}

.cart_text {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 15px;

	@media (max-width: 992px) {
		gap: 12px;
	}

	@media (max-width: 480px) {
		gap: 10px;
	}

	h2 {
		padding-bottom: 0;
		color: rgba(73, 72, 87, 1);
		font-family: Roboto, sans-serif;
		font-size: 25px;
		font-weight: 700;
		margin: 0;
		line-height: 1.2;

		@media (max-width: 1200px) {
			font-size: 23px;
		}
		@media (max-width: 1120px) {
			font-size: 20px;
		}
		@media (max-width: 1200px) {
			font-size: 23px;
		}

		@media (max-width: 1120px) {
			font-size: 20px;
		}

		@media (max-width: 992px) {
			font-size: 23px;
		}

		@media (max-width: 640px) {
			padding-left: 0;
			padding-top: 10px;
		}
		@media (max-width: 576px) {
			padding-left: 45px;
			padding-top: 0;
		}
		@media (max-width: 480px) {
			font-size: 17px;
		}

		@media (max-width: 360px) {
			font-size: 16px;
		}
	}

	p {
		padding-right: 0;
		color: rgba(73, 72, 87, 1);
		font-family: Roboto, sans-serif;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 400;
		margin: 0;

		@media (max-width: 1280px) {
			font-size: 16px;
		}
		@media (max-width: 1200px) {
			font-size: 15.5px;
		}

		@media (max-width: 992px) {
			text-align: justify;
			color: rgba(73, 72, 87, 1);
			font-family: Roboto;
			font-size: 18px;
			font-weight: 400;
		}

		@media (max-width: 768px) {
			font-size: 15px;
		}
		@media (max-width: 576px) {
			padding-top: 8px;
		}

		@media (max-width: 480px) {
			font-size: 14px;
		}

		@media (max-width: 360px) {
			font-size: 13.5px;
		}
	}
}

// Адаптивность для очень маленьких экранов
// @media (max-width: 480px) {
// 	.title {
// 		font-size: 30px;
// 		text-align: left;
// 		max-width: 200px;
// 	}

// 	.cart {
// 		border-radius: 10px;
// 		padding: 18px 15px;

// 		.cart_text {
// 			h2 {
// 				font-size: 16px;
// 			}

// 			p {
// 				font-size: 13.5px;
// 			}
// 		}
// 	}
// }

// @media (max-width: 360px) {
// 	.title {
// 		font-size: 22px;
// 	}

// 	.cart {
// 		padding: 15px 12px;

// 		.cart_text {
// 			h2 {
// 				font-size: 15px;
// 			}

// 			p {
// 				font-size: 13px;
// 			}
// 		}
// 	}
// }
