.benefit {
	.title {
		color: rgba(73, 72, 87, 1);
		font-size: 56px;
		font-weight: 500;
		line-height: 56px;
		letter-spacing: 0%;
		text-align: center;
	}
	.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		gap: 20px;
		list-style: none;
		@media (max-width: 1800px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.cart {
		padding-top: 40px;
		display: flex;
		align-items: center;
		@media (max-width: 768px) {
			flex-direction: column;
		}

		&_img {
			min-width: 25%;
		}

		&_text {
			h2 {
				padding-bottom: 10px;
				color: rgba(73, 72, 87, 1);
				font-family: Roboto;
				font-size: 24px;
				font-weight: 700;
				@media (max-width: 768px) {
					padding-right: 0;
					text-align: center;
				}
			}
			p {
				padding-right: 100px;
				color: rgba(73, 72, 87, 1);
				font-family: Roboto;
				font-size: 18px;
				line-height: 21px;
				font-weight: 400;
				@media (max-width: 768px) {
					padding-right: 0;
				}
			}
		}
	}
}
