.one-service {
	padding-top: 90px;
	padding-left: 10px;
	padding-right: 10px;

	@media (max-width: 1200px) {
		padding-top: 70px;
		margin: 0 10px;
	}
}
.one-service-container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}
.one-service-title {
	padding: 52px 0;
	color: rgba(73, 72, 87, 1);
	font-size: 56px;
	font-weight: 700;
	line-height: 56px;
	@media (max-width: 1200px) {
		padding-bottom: 25px;
	}
	@media (max-width: 640px) {
		font-size: 33px;
		line-height: 33px;
		padding-bottom: 15px;
	}
}
.one-service-img {
	// border-top-left-radius: 100px;
	// border-bottom-right-radius: 100px;
	// border: 8px solid var(--layer-color1);
	// max-height: 349px;
	// overflow: hidden;
	// @media (max-width: 768px) {
	// 	border: none;
	// 	border-radius: 0%;
	// }
	img {
		// width: 100%;
		// height: 100%;
		// object-fit: cover;
	}
}
.one-service-description {
	padding-top: 57px;
	@media (max-width: 1200px) {
		padding-top: 25px;
	}
	p {
		padding-bottom: 30px;
		color: rgba(73, 72, 87, 1);
		font-family: Roboto;
		font-size: 18px;
		font-weight: 400;
		line-height: 21.6px;
		letter-spacing: 0px;
		text-align: left;
	}
}
