.connect {
	position: fixed;
	z-index: 10;
	bottom: 50px;
	right: 2%;
	width: 64px; // w-16 -> 64px
	height: 288px; // h-72 -> 288px
	display: flex;
	justify-content: center;
	align-items: flex-end;
	animation: pulse 2s infinite;
	cursor: pointer;

	&:hover {
		animation: none;
	}

	// @media (max-width: 1200px) {
	// 	left: 2%;
	// }

	// @media (min-width: 1201px) {
	// 	right: 2%;
	// }
}

.mainButton {
	position: fixed;
	z-index: 100;
	bottom: 50px;

	width: 65px;
	height: 65px;
	border: none;
	border-radius: 100px;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
	background: rgba(255, 153, 51, 1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialItem {
	position: absolute;
	z-index: -1;
	transition: transform 0.3s ease;

	&:hover {
		opacity: 0.9;
	}
}

.socialIcon {
	display: block;
	transition: transform 0.2s ease;

	// &:hover {
	// 	transform: scale(1.1);
	// }
}

.phoneButton {
	position: absolute;
	z-index: -3;
	transition: transform 0.3s ease;
	background-color: var(--layer-color2, #b4816b);
	width: 44px; // w-11 -> 44px
	height: 44px; // h-11 -> 44px
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}

.vkButton {
	composes: phoneButton;

	a {
		padding-top: 12px; // pt-3 -> 12px
		padding-left: 8px; // pl-2 -> 8px
	}
}

.vkIcon {
	width: 40px;
	height: 40px;

	use {
		fill: #fff;
	}
}

// Состояния для открытых иконок
.whatsappOpen {
	transform: translateY(-160%);
}

.whatsappClosed {
	top: 87%;
	transform: translateY(-50%);
}

.telegramOpen {
	transform: translateY(-280%);
}

.telegramClosed {
	top: 90%;
	transform: translateY(-50%);
}

.vkOpen {
	transform: translateY(-400%);
}

.vkClosed {
	top: 90%;
	transform: translateY(-50%);
}

.phoneOpen {
	transform: translateY(-400%);
}

.phoneClosed {
	top: 90%;
	transform: translateY(-50%);
}

// Анимация pulse
@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
}
